.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.App .Header {
  width: 100vw;
  height: 10vh;
  background: url("../img/header_img.jpg");
  position: fixed;
  z-index: 5;
  font-family: 'Kanit', sans-serif;
  color: white;
  padding-left: 25px;

  box-shadow: 0 0 .1em 0.1em white;

  display: flex;
  flex-flow: row nowrap;
}

.App .Header .leftSide {
  width: 50vw;
  height: 10vh;

  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
}

.App .Header .filter {
  font-size: 40px;
  margin-top: 25px;
  margin-right: 20px;
  cursor: pointer;

}

.App .Header .rightSide {
  width: 50vw;
  height: 10vh;
}

.App .Header .searchText {
  border-radius: 15px;
  height: 40px;
  width: 200px;
  margin-top: 25px;
  margin-right: 75px;
  font-family: inherit;
  text-align: left;
  border: 3px solid #555;
  background-image: url("../img/searchIconScaled2.png");
  background-repeat: no-repeat;
  background-position: 0;
  padding-left: 35px;
  font-size: 17px;
  box-shadow: 0 0 .1em 0.1em white;
  float: right;
}

.App .Header .searchText:focus {
  box-shadow: 0 0 .4em 0.5em white;
  outline: none;
}

.App .ResultPanel {
  width: 100vw;
  height: 100vw;
  transition: transform .75s ease;

  background: url("../img/background_img_full_opac.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 4;
  
  box-shadow: 0 0 .1em 0.1em white;
}

.App .loading {
  width: 100vw;
  height: 100vh;
  top: 10vh;
  position: fixed;
  background: url("../img/background_img_full_opac.jpeg");

  font-size: 100px;
  text-align: center; 
  padding-top: 50px;

}

.spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -webkit-transform-origin: 50% 58%;
  transform-origin:50% 58%;
  ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .allCards {
  width: 90vw;
  left: 5vw;
  top: 10vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;

  position: absolute;
}

.App .FilterBar {
  height: 100vh;
  width: 45vw;
  left: 0;
  overflow: hidden;
  position: fixed;

  background: url("../img/header_img.jpg");
  box-shadow: 0 0 .1em 0.1em white;

  z-index: 0;

  transition: transform 1s;
  transition: opacity 1s;
}

.App .FilterBar .filterTypes {
  padding-top: 12vh;
  font-family: 'Kanit', sans-serif;

  font-size: 25px;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 5vh;

}

.App .FilterBar .filterOption {
  height: 50px;
  width: 100px;
  background: black;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  margin: 15px;
}

.App .FilterBar .filterOption:hover {
  opacity: .8;
}

.App .hidden {
  transition: opacity 1.5s;
  opacity: 0;
}

.App .hideDisplay {
  display: none;
}


